<!DOCTYPE html>

<html lang="vi" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:href="@{/styles/global/global.css}" rel="stylesheet" />
        <link th:href="@{/styles/fragments/fragments.css}" rel="stylesheet" />
        <link th:href="@{/styles/libs/SweetAlert2.css}" rel="stylesheet" />
        <title>[[${appName}]]</title>
    </head>

    <body>
        <div class="dashboard">admin dashboard</div>
    </body>
</html>
