<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/404-page.css}" rel="stylesheet" />
    <title>[[${appName}]]</title>
</head>

<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>TRANG BẠN TRUY CẬP HIỆN KHÔNG TỒN TẠI!</h2>
            <p>
                CHÚNG TÔI RẤT TIẾC VÌ SỰ CỐ NÀY, BẠN CÓ THỂ KIỂM TRA LẠI ĐƯỜNG DẪN
                HOẶC LIÊN HỆ VỚI QUẢN TRỊ VIÊN WEBSITE ĐỂ GIẢI QUYẾT VẤN ĐỀ.
            </p>
            <a href="/">QUAY VỀ TRANG CHỦ</a>
        </div>
    </div>
</body>

</html>