<!DOCTYPE html>

<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/libs/SweetAlert2.css}" rel="stylesheet" />
    <link th:href="@{/styles/libs/QuillJS.snow.css}" rel="stylesheet" />
    <link th:href="@{/styles/libs/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/styles/global/global.css}" rel="stylesheet" />
    <link th:href="@{/styles/fragments/fragments.css}" rel="stylesheet" />
    <link th:href="@{/styles/home-page.css}" rel="stylesheet" />
    <title>[[${appName}]]</title>
</head>

<body>
    <div th:replace="~{fragments/nav-bar.html :: nav-bar}"></div>

    <main id="page-main">
        <div class="introduction">
            <p class="hello">Chào bạn! Chào mừng đến với</p>
            <p class="title">
                <span class="app-name">Blog<span class="name-piece">team.</span></span>
            </p>
            <p class="intro">
                Chúng tôi tự hào giới thiệu <b>Blogteam</b>, một không gian trực tuyến năng động dành cho
                cộng đồng yêu thích viết blog và chia sẻ kiến thức. Ở đây, chúng tôi tin rằng mỗi người
                đều có câu chuyện riêng, và chúng tôi muốn tạo ra một nền tảng để mọi người có thể kể lên
                những trải nghiệm, ý kiến, và kiến thức của mình. Hãy thỏa sức vùng vẫy nhé!
            </p>
        </div>

        <section class="most-visited-section">
            <h2 class="most-visited-title">Truy cập nhiều nhất</h2>
            <section class="most-visited-posts">
                <div th:each="post : ${posts}" class="post-card">
                    <div class="user-section">
                        <img class="user-avatar" src="/imgs/user-avatar-deafult.png">
                        <div class="user-info">
                            <div class="name-of-user" th:text="${post.user.fullName}"></div>
                            <div class="date-of-post" th:text="${post.post.createdAt}"></div>
                        </div>
                    </div>
                    <a class="post-title" th:href="@{/blog/view-blog/{postId}(postId=${post.post.id})}"
                        th:text="${post.post.title}" th:title="${post.post.title}">
                    </a>
                    <div class="hashtag">
                        <span>#</span>
                        <span th:text="${post.post.hashtag}"></span>
                    </div>
                    <div class="comment-section">
                        <span></span>
                        <div class="visitsCount">
                            <span>Lượt truy cập</span>
                            <span th:text="${post.visitsCount}"></span>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <script th:src="@{/js/libs/SweetAlert2.js}" charset="UTF-8" defer></script>
    <script th:src="@{/js/libs/dayjs.min.js}" charset="UTF-8" defer></script>
    <script th:src="@{/js/libs/bootstrap.min.js}" charset="UTF-8" defer></script>
    <script th:src="@{/js/libs/popper.min.js}" charset="UTF-8" defer></script>
    <script th:src="@{/js/libs/axios.min.js}" charset="UTF-8" defer></script>
    <script th:src="@{/js/utils/constants.js}" charset="UTF-8" defer></script>
    <script th:src="@{/js/utils/apis.js}" charset="UTF-8" defer></script>
    <script th:src="@{/js/utils/helpers.js}" charset="UTF-8" defer></script>
    <script th:src="@{/js/home-page.js}" charset="UTF-8" defer></script>
</body>

</html>